.blog{
  background: var(--verde);
  position: relative;
}
.blogWrapper{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  margin-left: 100px;
  padding: 40px 0;
  position: relative;
  min-height: 100vh;
}
.blogWrapper::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: var(--bg-dark);
  clip-path: polygon(100% 0,0 100%, 100% 100%);
}

/*
.blogWrapper::before{
      content: '';
    position: absolute;
    bottom: 0;
    left: 0;
    width: 100%;
    height: 80px;
    background: var(--verde);
    clip-path: polygon(100% 0,0 100%, 100% 100%);
}
*/

.blogh1{
  color: var(--blanco);
  size: 36px;
}
.blogPost{
display: flex;
  align-items: center;
  justify-content: center;
  flex-wrap: wrap;
  gap: 20px;
  padding:20px 0;
}
.cardPost{
  cursor: pointer;
  width: 340px;
  height: 260px;
  border-radius: 10px;
  overflow: hidden;
  border: 1px solid var(--rosa-text);
  color: var(--blanco);
  background: var(--bg-dark);
}
.cardPost:hover{
  box-shadow: 0px 0px 18px var(--verde);
  transform: translateY(-10px);
}
.cardPostTexts{
  padding: 20px;
}

.cardPostTitle{
  font-size: 22px;
  margin-bottom: 10px;
  color: var(--verde)--blanco;
}
.cardPostDesc{
  color: var(--blanco);
  padding: 10px 5px;
}
.cardPostBtn{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.cardPostFecha{
display: flex;
  align-items: center;
  gap: 10px;
  color: var(--verde);
  /* color: var(--rosa); */
}
.cardSvgFecha{
  color: var(--verde);
  font-size: 18px;
}
@media only screen and (max-width: 550px){
  .blogWrapper{
  margin-left: 0px;
  padding: 0px;
  }
}
@media only screen and (max-width: 320px){
  .cardPost{
    width: auto;
    margin: 10px;
  }
}
