@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@600;700;900&family=Roboto:ital,wght@0,300;0,400;0,500;0,700;0,900;1,300&display=swap');
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  --bg-dark:#1C0F18;
  --bg-black:#070306;
  --rosa:#CC92BE;
  --rosa-text: #8f7e8a;
  --rosa-text-light:#d5cad2;
  --rojo:#da3737;
  --purple:#1C0F18;
  --blanco:#FFFFFF;
  --verde:#11B53C;
  --grading-purple-verde: linear-gradient(102.42deg, #CC92BE 19.76%, #11B53C 65.73%, #0F882F 100%);
  font-family: 'Roboto', sans-serif;
  transition: all .3s ease;
}
/*  SCROLLER  */
*::-webkit-scrollbar {
  width: 5px;
}
 
*::-webkit-scrollbar-track {
  box-shadow: inset 0 0 16px var(--rosa);
}
 
*::-webkit-scrollbar-thumb {
  background-color: var(--verde);
  outline: 1px solid slategrey;
}


body::-webkit-scrollbar {
  width: 5px;
}
 
body::-webkit-scrollbar-track {
  box-shadow: inset 0 0 16px var(--bg-dark);
}
 
body::-webkit-scrollbar-thumb {
  background-color: var(--verde);
  outline: 1px solid slategrey;
}

/*  SCROLLER  */
a{
  text-decoration: none;
}
.side{
  margin-left: 100px;
}
.h3Titles{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;

  text-align: center;
  position: relative;
  color:var(--blanco);
  padding-bottom: 14px;
  margin-bottom: 10px;
  /* width: max-content; */
}
.h3Titles::before{
   position: absolute;
   content: '';
   height: 5px;
   bottom: -4px; 
        /* center - (optional) use with adjusting width   */
   margin: 0 auto;
	 left: 0;
   right: 0;
	 width: 180px;
  background-color: var(--verde);
}
.h3TitlesWhite::before{
   position: absolute;
   content: '';
   height: 5px;
   bottom: -4px; 
        /* center - (optional) use with adjusting width   */
   margin: 0 auto;
	 left: 0;
   right: 0;
	 width: 180px;
  background-color: var(--blanco);
}

@media only screen and (max-width: 550px){
  .side{
    margin-left: unset;
  }
  .h3Titles{
    font-size: 40px;
  }
}
