.home{
  background: var(--grading-purple-verde);
  color:var(--blanco);
  padding: 50px;
  min-height: 80vh;
  position: relative;
  display: flex;
  align-items: center;
  justify-content: center;
}
.home::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 50px;
  background: var(--bg-dark);
  clip-path: polygon(0 0,0 100%, 100% 100%);
}
