.about{
  background: var(--bg-dark);
  display: flex;
  /* align-items: center; */
  justify-content: center;
  align-items: center;
  flex-direction: column;
  min-height: 100vh;
  padding: 20px;
  position: relative;
}
.about::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: var(--verde);
  clip-path: polygon(100% 0,0 100%, 100% 100%);
}

.aboutTexts{
  padding: 20px;
  margin-bottom: 80px;
}
.aboutPar{
  font-weight: 400;
  font-size: 22px;
  line-height: 38px;
  position: relative;

  color: var(--blanco);
}
.aboutPar>a{
  color: var(--blanco);
  text-decoration: underline;
}
.aboutCheck{
  padding-left: 20px;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.aboutCheck>li>svg{
  margin-right: 10px;
  color: var(--verde);
}

.aboutMore{
  font-size: 24px;
  font-weight: 700;
  font-family: 'Montserrat', sans-serif;
  color: var(--verde);
  margin-top: 20px;
  cursor: pointer;
  display: flex;
  align-items: center;
  /*
  position:absolute;
  bottom: 17%;
  left: 7%;
*/
}
.aboutMore>svg{
  font-size: 26px;
}
.aboutMore:hover{
  transform: translateX(-10px);
}
.aboutMore:active{
  color: var(--rosa);
}
.readMoreWindow{
  position: fixed;
  top: 0;
  left: 0;
  width: 100vw;
  height: 100vh;
  padding: 20px;
  background-color: rgba(0,0,0,0.6);
  filter: drop-shadow(0px 4px 12px rgba(0, 0, 0, 0.6));
  -webkit-backdrop-filter: blur(10px);
  backdrop-filter: blur(10px);
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 5;
}
.readMoreWindow>svg{
  font-size: 30px;
  color: var(--rojo);
      position: absolute;
    top: 5%;
    right: 5%;
  cursor: pointer;
}
.readMoreContent{
  overflow-y: auto;
  width: 100%;
  max-width: 1024px;
  min-width: 30vw;
  border-radius: 10px;
  padding: 20px;
  border: 1px solid var(--verde);
  background-color: var(--bg-dark);

    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
  gap: 20px;
}
.readMoreContentLeft{
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.h3TitlesWindow{
 font-family: 'Montserrat';
  font-weight: 900;
  font-size: 28px;

  width: 100%;
  text-align: center;
  position: relative;
  color:var(--blanco);
  padding-bottom: 14px;
  margin-bottom: 10px
}
.h3TitlesWindow::before{
   position: absolute;
   content: '';
   height: 3px;
   bottom: 10px; 
        /* center - (optional) use with adjusting width   */
   margin: 0 auto;
	 left: 0;
   right: 0;
	 width: 150px;
  background-color: var(--verde);
}

.pp{
  border-radius: 10px;
  width: 300px;
}

.readMoreContentRight{
  display: flex;
      align-items: center;
    justify-content: center;
    height: 70%;
}
.aboutParWindow{
  overflow-y: auto;
  font-weight: 400;
  font-size: 18px;
  line-height: 30px;
  padding: 20px 10px;
  height: 100%;

  color: var(--blanco);

}

.love{
  color: var(--blanco);
  font-size: 15px;
}
.redBg{
  padding: 0 5px;
  background-color: var(--rojo);
}

@media only screen and (max-width: 900px){
  .readMoreWindow>svg{
    top: 4%;
    right: 2.5%;
  }
}

@media only screen and (max-width: 770px){
  .pp{
    width: 200px;
    border-radius: 20px;
  }
}

@media only screen and (max-width: 550px){
  .aboutPar{
    font-size: 18px;
    line-height: 30px;
  }
  .readMoreContent{
    flex-direction: column;
  }
  .readMoreContentLeft{
    flex-direction: column-reverse;
  }
  .pp{
    width: 100px;
    padding: 10px;
  }
  .aboutParWindow{
    font-size: 16px;
    line-height: unset;
  }
  .readMoreWindow>svg{
    top: 1%;
    right: 1.5%;
    z-index: 5;
  }
}
