.postPost{
  background: var(--bg-dark);
  min-height: 100vw;
  margin-left: 100px;
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: column;
  padding: 40px;
}
.postPostTexts{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  gap: 20px;
  padding: 20px;
}
.postUpLink{
  width: 100%;
}
.postUpLink>a{
  color: var(--rosa-text);
}
.postUpLink:hover{
    transform: translateX(-10px);
}
.postPostTitle{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 48px;
  line-height: 59px;
  text-align: center;

  color: var(--blanco);
}
.postPostFecha{
  font-size: 18px;
  font-weight: 400;
  color: var(--rosa-text);
  display: flex;
  align-items: center;
}
.postSvgFecha{
  margin-right: 2px;
  font-size: 20px;
}
.postPostDesc{
  color: var(--blanco);
  font-size: 18px;
  line-height: 1.525;
  max-width:900px;
  padding: 0 10px;
}
.contPostBtn{
  display: flex;
  width: 100%;
  align-items: center;
  justify-content: center;
}
.postBtn{
  font-weight: 400;
  font-size: 14px;
  text-transform: capitalize;
  line-height: 16px;
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 10px;
  /* width: 10%; */
  border-radius: 5px;
  color: var(--blanco);
  background: var(--verde);
  border: none;
  margin-left: 6px;
}

@media only screen and (max-width: 990px){
.postPost{
    padding: 20px 0;
  }
}
@media only screen and (max-width: 550px){
.postPost{
    margin-left: 0;
    padding: 20px 0;
  }
  .postPostTitle{
    font-size: 32px;
    line-height: unset;
  }
  .postPostDesc{
    padding: 0;
  }
}
