.contact{
  background: var(--verde);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  min-height: 120vh;
  position: relative;
}
.contact::before{
  content: '';
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 80px;
  background: var(--bg-dark);
  clip-path: polygon(100% 0,0 100%, 100% 100%);
}

.formContainer{
  margin: 10px 0;
  width: 60vw;
  max-width: 1024px;
  height: 70%;

  z-index: 3;
}
.formWrapper{
  background-color: var(--bg-dark);
    display: flex;
  justify-content: space-between;
  align-items: center;
  flex-direction: column;
  padding: 20px;
  border-radius: 10px;
}

.formInput{
  font-family: 'Montserrat', sans-serif;
  width: 80%;
  margin: 5px 0;
  padding: 20px;
  border: none;
  background: var(--bg-dark);
  border-bottom: 2px solid var(--verde);
  color:var(--verde);
  font-size: 20px;
}

.formTextarea{
  min-height: 100px;
}

.formButton{
  width:80%;
  margin: 20px 0;
  padding:20px;
  font-size: 22px;
  background: var(--verde);
  color: var(--bg-dark);
  border-radius: 10px;
  font-weight: 500;
  border: none;
  cursor: pointer;
}
.formButton:hover{
  background-color: var(--rosa);
}
.formError{
  color: var(--rojo);
  width: 80%;
  font-weight: 400;
}
.formSent{
color: var(--verde);
  z-index: 3;
  font-weight: 400;
}

@media only screen and (max-width: 550px){
  .formContainer{
    width: 90vw;
  }
}
