.commentsContainer{
  width: 100%;
  max-width: 900px;
}  
.comTitle{
  color: var(--blanco);
  padding: 10px ;
}
/****** FORM SECTION ******/
.comFormWrapper{
  display: flex;
  flex-direction: column;
  align-items: center;
}
.comFormInput{

  background: var(--blanco);
      border: none;
  border-radius: 10px;
    font-family: 'Montserrat',sans-serif;
    font-size: 16px;
    margin: 10px 0;
    padding: 10px 20px;
    width: 80%;
}
.comTextarea{
  min-height: 140px;
}
.comFormBtns{
  display: flex;
  align-items: center;
  justify-content: center;
}
.comtBtn{
  font-weight: 600;
    font-size: 14px;
    text-transform: capitalize;
    line-height: 16px;
    display: flex;
    align-items: center;
    justify-content: space-evenly;
    padding: 5px 10px;
    /* width: 10%; */
    border-radius: 5px;
    background: var(--verde);
    color: var(--blanco);
    border: none;
    margin-left: 6px;
    cursor: pointer;
}
.comtBtn:hover{
    background: var(--rosa);
  box-shadow: 0px 0px 8px #CC92BE;
}
/****** COMMENTS SECTION ******/
.comReadContainer{
  background: var(--bg-dark);
  color: var(--blanco);
}
.comRead{
  display: flex;
  align-items: center;
  flex-direction: column;
  padding: 10px 0;
}
.comUserInfo{
  display: flex;
  justify-content: flex-start;
  align-items: center;
  width: 100%;
}
.comUserName{
  font-weight: 700;
  font-size: 14px;
  font-family: 'Montserrat', sans-serif;
  text-transform: capitalize;
}
.comUserInfoWeb{
  display: flex;
  justify-content: flex-start;
  width: 100%;

}
.comWebsite{
  font-size:14px;
  color:var(--rosa-text);
  font-style: italic;
}
.comFecha{
  font-size:12px;
  margin-left: 5px;
  color:var(--rosa-text);
}
.comUserComment{
  padding: 10px;
}
.comUnderLinea{
  width: 100%;
  padding: 0 20px;
}

@media only screen and (max-width: 990px){
  .comTitle{
    text-align: center;
  }
  .comReadContainer{
    padding: 10px 0;
  }
  .comUserInfo, .comUserInfoWeb{
    padding-left: 15px;
  }
  .comUserComment{
    padding: 10px 25px;
  }
}
@media only screen and (max-width: 550px){
}
