.scrollTopButton{
  fill:var(--rosa-text);
  color:var(--rosa-text);
  filter: opacity(75%);
  position: absolute;
  position: fixed;
  display: flex;
  width: 100%;
  justify-content: flex-end;
  top:90vh;
  right: 20px;
  cursor: pointer;
  animation: moverbtn 3s ease-in-out infinite;
  transition: ease all .5s ease-in-out;
}
.scrollTopButton>svg{
  font-size: 40px;
}
.scrollTopButton>svg:hover{
  transition: ease all .5s ease-in-out;
  transform: translateY(-10px);
  filter: opacity(100%);

}

.scrollTopButton:hover{
}

@media only screen and (max-width: 550px){
  .scrollTopButton{
    position: unset;
    padding: 0 20px;
  }
}
