.hero{
  max-width: 1024px;
}
.heroTitle{
  font-family: 'Montserrat';
  font-weight: 900;
  font-size: 90px;

}
.heroList{
  list-style: none;
  padding-left: 20px;
}

@media only screen and (max-width: 550px){
  .heroTitle{
    font-size: 48px;
  }
}

