.navbar{
  background: var(--bg-dark);
  padding: 10px 0;
  display: flex;
  align-items: center;
  /* flex-direction: column; */
  width: 100px;
  height: 100vh;
  position: fixed;
  box-shadow: 0px 0px 8px #CC92BE;
  z-index: 4;
}
.navbarNav{
      display: flex;
    justify-content: space-between;
    align-items: center;
    flex-direction: column;
  width: 100%;
}
.navList{
  width: 100%;
}

.navItems{
  width: 100%;
  list-style: none;
  padding: 20px 0;
}

.navBtns, .navBtnsVerde{
  font-weight: 700;
  font-size: 16px;
  padding: 20px;
  line-height: 19px;

  width: 100%;
  background: var(--purple);
  color: var(--rosa);
  border: none;
  border-radius: 0px 5px 5px 0px;
  cursor: pointer;

  display: flex;
  flex-direction: column;
  align-items: center;
}

.navBtns:hover{
  background: var(--rosa);
  color:var(--purple);
  box-shadow: 0px 0px 8px #CC92BE;
}
.navBtnsVerde:hover{
background: var(--verde);
  color: var(--blanco);
  box-shadow: 0px 0px 8px var(--verde);
}
.navBtns>svg{
  font-size: 22px;
  margin-bottom: 5px;
  transition: ease 0.1s;
}
.navBtnsVerde>svg{
  font-size: 22px;
  margin-bottom: 5px;
  transition: ease 0.1s;
}

@media only screen and (max-height: 560px){
  .navItems{
    padding: 0;
  }
  .navBtns, .navBtnsVerde{
    padding: 10px;
  }
}
@media only screen and (max-width: 550px){
  .navbar{
  width: 100vw;
  height: 80px;
  bottom: 0;
  }
  .navbarNav{
    flex-direction: unset;
  }
  .navList{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 100%;
  }
  .navBtns{
    border-radius: unset;
    padding: 25px 0;
  }
  .navBtns>svg{
    font-size: 26px;
  }
  .navBtnsVerde>svg{
    font-size: 26px;
  }
  .menuName{
    display: none;
  }
}
