.footer{
  color: var(--blanco);
  background: var(--bg-dark);
  padding: 40px 20px;
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}
.fooIcons{
  display: flex;
  align-items: center;
  justify-content: center;
  font-size: 36px;
  list-style: none;
}
.fooIcons>li>a{
  margin: 0 20px;
  color: var(--rosa);
}
.fooIcons>li>a:hover{
  color: var(--blanco);
  cursor: pointer;
}
.fooPar{
  color: var(--rosa);
  padding: 20px;
}
.fooPar>a{
  color: var(--blanco);
  cursor: pointer;
}
@media only screen and (max-width: 550px){
  .footer{
    margin-bottom: 80px;
  }
}

