.work{
  color: var(--blanco);
  background: var(--bg-dark);
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  padding: 20px;
  min-height: 100vh;
  z-index: 2;

}
.worksContainer{
padding: 40px;
  display: flex;
  align-items: center;
  justify-content: center;
  gap:20px;
}

.card{
  width: 300px;
  height: 340px;
  border-radius: 5px;
  overflow: hidden;
  box-shadow: 0px 0px 8px #CC92BE;
}
.card:hover{
  box-shadow: 0px 0px 18px #CC92BE;
  transform: translateY(-10px);
}

.cardImg{
  width: 100%;
  margin: auto;
  display: block;
}

.cardTexts{
  padding: 20px;
}

.cardTitle{
  margin-bottom: 10px;
}

.cardBtns{
  display: flex;
  align-items: center;
  justify-content: flex-end;
  margin-top: 15px;
}
.cardLinks{
  color: var(--blanco);
  display: flex;
  align-items: center;
}

.cardLinks>svg{
margin-right: 5px;
}

.cardBtn{
  font-weight: 400;
  font-size: 14px;
  line-height: 16px;

  display: flex;
  align-items: center;
  justify-content: space-evenly;
  padding: 5px 10px;
  width: 33%;
  border-radius: 5px;
  color: var(--blanco);
  background: var(--verde);
  border: none;
  margin-left: 6px;
  cursor: pointer;
  text-transform: capitalize;
}

.cardBtn:hover{
  background: var(--rosa);
  box-shadow: 0px 0px 8px #CC92BE;
}
.skillsetUl{
  margin-top: 40px;
  width: 50vw;
  color: var(--blanco);
  -webkit-box-align: center;
  align-items: center;
  justify-content: center;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  gap: 10px;
  list-style: none;
  text-align: center;
}
.skillsetUl>li>svg{
  cursor: default;
    height: 50px;
    margin: 10px;
    width: 50px;
}

@media only screen and (max-width: 1050px){
  .worksContainer{
    flex-wrap: wrap;
  }
}
